@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body{
    background-color: #D1F3E4;
    width: 100%;
}


.loginContainer, .RegContainer{
    width: 100%;
    margin: 0;
    z-index: 2;
}
.loginContainer{
    margin-left: 14em;
}
.RegContainer{
    margin-left: 27.5em;
}


.loginFormBox, .RegFormBox{
    background: white;
    display: block;
    float: right;
    margin: 0;
}
.loginFormBox{
    width: 55%;
    height: 100%;
    padding: 6em 2em 10.2em;
    
}
.RegFormBox{
    width: 70%;
    padding: 3em 2em 3.5em 4em;
}


.loginFormCont, .RegFormCont{
    font-family: 'Mulish', sans-serif;
    margin: auto;
    width: 100%;
    overflow: hidden;
}
.loginFormCont h1, .RegFormCont h1{
    color: #27B3AA;
    font-size: 28px;
}
.loginFormCont p, .RegFormCont p{
    color: #3A3737;
    font-size: 15px;
    width: 90%;
}


.verifyContainer, .forgotContainer, .resetContainer{
    background-color: white;
    padding: 4em;
    height: 50%;
    width: 50%;
    border-radius: 1%;
}
.verifyContainer{
    margin: 11em auto 0em 9em;
    padding-top: 3em;
}
.resetContainer{
    margin: 8em auto 0em 9em;
}
.forgotContainer{
    margin: 12em auto 0em 9em;
}


.verifyContainer h1, .forgotContainer h1, .resetContainer h1{
    color: #27B3AA;
    font-size: 28px;
}
.forgotContainer form, .resetContainer form, .verifyContainer form{
    width: 75%;
    margin: auto;
}


.otc{
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.otc fieldset{
    border: 0;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.otc input[type="text"]{
    border: 2px solid #E4E4E4;
    height: 60px;
    width: 60px;
    font-size: 2.65em;
    text-align: center;
    color: #3A3737;
    margin-right: 7px;
}


.logo{
    margin: 3em;
    width: 10%;
    height: 10%;
}

.footer{
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}
