#card .img{
    width: 21em;
}
#momo .img{
    width: 21em;
}
#paymentPage{
    display: block;
    width: 100%;  
    border-radius: 0.5em;
    padding: 2em;
}
#paymentMethods{
    margin:3em 0;
    height: auto;
    display: flex;
    margin-top: 1em;
}
.icon1{
    margin-left: 0.8em;
    margin-top: 1em;
    position: absolute;
    z-index: 1;
}
#mobileMoney{
    display: block;
}
#credit{
    display: none;
}
.input-group{
    margin-top: 0.5em;
}
form{
    width: 60%;
}